.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  /* max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em; */
}

p {
  margin-bottom: 12px;
}

.btn_wrap {
  position: relative;
  margin: 0 12px 0 0;
  padding: 0;
  min-width: 87px;
}

.home {
  height: auto;
  max-width: 100%;
}

.section {
  height: auto;
  background-color: gray;
}

.splash {
  /* center vertically and horizontally */
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mainfont {
  font-size: 90px;
  font-weight: bold;
  font-family: 'Goldman', cursive;
}

.mainfont {
  font-size: 15px;
  font-family: 'Goldman', cursive;
}

.exo2 {
  font-family: 'Goldman', cursive;
}

.section--splash {
  background-image: linear-gradient(45deg, #4f4f4f 25%, #4d4d4d 25%, #4d4d4d 50%, #4f4f4f 50%, #4f4f4f 75%, #4d4d4d 75%, #4d4d4d 100%);
  background-size: 56.57px 56.57px; 
}

